<!DOCTYPE html>
<html>
    <head>
         <style>
             body{ background-color: cadetblue;font-family: Verdana; color: #fbeded; padding: auto;}
             h1{font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center;}
             p{font-size: 16px;text-align: center;}
         </style>
         <link rel="stylesheet" href="/assets/style.css">
    </head>
            <title>new website</title>
    <body>
        <%-include("./partials/nav.ejs") %>
       <h1>welcome to our website</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Voluptates officiis adipisci dolor nostrum exercitationem totam veritatis
          ullam non doloremque id iure suscipit rerum placeat quo praesentium,
           aspernatur quibusdam porro minus.</p>


    </body>
</html>